<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Header -->
<header th:fragment="header">
    <nav class="navbar navbar-dark mb-5" style="background-color: #8d501d">
        <div class="container-fluid">
            <a class="navbar-brand" href="/posts">
                <img src="/images/provisional_logo.png" th:src="@{/images/provisional_logo.png}" alt="Ichnofossil Logo"
                     width="30"
                     height="24"
                     class="d-inline-block align-text-top">
                <span id="titleIchnofossil">Ichnofossil</span>
            </a>

            <div id="header-languages-container">
                <a href="#" th:href="@{#}" onclick="window.location.search = 'lang=pt';">🇧🇷</a>
                <a href="#" th:href="@{#}" onclick="window.location.search = 'lang=en';">🇺🇸</a>
                <a href="#" th:href="@{#}" onclick="window.location.search = 'lang=de';">🇩🇪</a>
            </div>
        </div>
    </nav>
</header>

<!-- Footer -->
<footer th:fragment="footer" class="text-center text-lg-start bg-light text-muted pt-1">
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4" th:text="#{about.title}"></h6>
                    <p th:text="#{about.text}"></p>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4" th:text="#{usefulLinks}"></h6>
                    <p><a href="https://github.com/Andrew-2609" class="text-reset" target="_blank">GitHub</a></p>
                    <p><a href="https://www.linkedin.com/in/andrew-2609/" class="text-reset"
                          target="_blank">LinkedIn</a></p>
                    <p><a href="https://www.instagram.com/andrewbunro/" class="text-reset" target="_blank">Instagram</a>
                    </p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4" id="contact-footer">
                    <h6 class="text-uppercase fw-bold mb-4" th:text="#{contact}"></h6>
                    <p>
                        <i class="material-icons">location_on</i>
                        <span th:text="#{location}"></span>
                    </p>
                    <p>
                        <i class="material-icons">email</i>
                        andrew.agoravai@gmail.com
                    </p>
                    <p>
                        <i class="material-icons">call</i>
                        (85) 9 9157-5301
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center pt-3 pb-1" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <p>Andrew Monteiro</p>
    </div>
</footer>
</body>
</html>