<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Footer -->
<footer th:fragment="footer" class="text-center text-lg-start bg-light text-muted pt-1">
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">About</h6>
                    <p>Here goes me.</p>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
                    <p><a href="https://github.com/Andrew-2609" class="text-reset" target="_blank">GitHub</a></p>
                    <p><a href="https://www.linkedin.com/in/andrew-2609/" class="text-reset"
                          target="_blank">LinkedIn</a></p>
                    <p><a href="https://www.instagram.com/andrewbunro/" class="text-reset" target="_blank">Instagram</a>
                    </p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p>Pacatuba, CE - Brazil</p>
                    <p>andrew.agoravai@gmail.com</p>
                    <p>(85) 9 9157-5301</p>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center pt-3 pb-1" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <p>Andrew Monteiro</p>
    </div>
</footer>
</body>
</html>