body {
    background-color: lightgoldenrodyellow;
    font-family: "Times New Roman", serif;
}

.pacificoFont {
    font-family: 'Pacifico', cursive;
}

#header-languages-container a {
    text-decoration: none;
}

#postTitle {
    font-family: 'Pacifico', cursive;
    color: #99742f;
    transition: all 0.25s ease;
}

#postTitle:hover {
    color: #d2a652;
    transition: all 0.25s ease;
}

.posts-page-tags {
    font-size: 0.9rem;
}

#contact-footer > p > i {
    vertical-align: middle;
}

#post-info > p > i {
    vertical-align: middle;
}

#post-tags {
    text-align: right;
}

#post-tags span {
    background-color: #e7e6be;
    padding: 0.25rem 0.5rem;
    margin-right: 0.125rem;
    border-radius: 5px;
}