body {
    background-color: lightgoldenrodyellow;
    font-family: "Times New Roman", serif;
}

#titleIchnofossil {
    font-family: 'Pacifico', cursive;
}

#contact-footer > p > i {
    vertical-align: middle;
}

#post-info > p > i {
    vertical-align: middle;
}