* {
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: lightgoldenrodyellow;
    font-family: 'Pacifico', cursive;
}

#main-content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#main-page-languages {
    width: 10rem;
    margin: auto;
}

#main-page-languages a {
    text-decoration: none;
}

#enter-site {
    margin-top: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: #d2a652;
    background: linear-gradient(to left, #8d501d 50%, #d2a652 50%) right bottom;
    background-size: 200% 100%;
    border: 1px solid white;
    transition: all 1s ease;
    font-weight: bold;
}

#enter-site:hover {
    font-weight: normal;
    transition: all 0.5s ease;
    color: #8d501d;
    background-position: left bottom;
}

#footer-main {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

#link-me {
    text-decoration: none;
    color: #9aa9b9;
}

/*Stop Transition on Page load*/
.css-transitions-only-after-page-load * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}